*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
}

h1 > .titulo2{
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

ul, ol, li{
  list-style: none;
}

body{
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
  padding-left: 350px;
  padding-right: 350px;
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.galeria {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 
      "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
      "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
      "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8";
  gap: 12px;
}

.foto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border: 2px solid white;

}

.foto:nth-child(1){
  grid-area: f1;
  background-image: url(img/logo.jpg);
}

.foto:nth-child(2){
  grid-area: f2;
  background-image: url(img/guedes.jpg);

}

.foto:nth-child(3){
  grid-area: f3;
  background-image: url(img/yuri.jpg);

}

.foto:nth-child(4){
  grid-area: f4;
  background-image: url(img/cassio.png);

}

.foto:nth-child(5){
  grid-area: f5;
  background-image: url(img/renato.png);

}

.foto:nth-child(6){
  grid-area: f6;
  background-image: url(img/time.png);

}

.foto:nth-child(7){
  grid-area: f7;
  background-image: url(img/arena.jpg);

}

.foto:nth-child(8){
  grid-area: f8;
  background-image: url(img/fiel\ torcida.jpg);
  

}

.foto:hover > .foto__info{
  transform: translateY(0%);
}

.foto__info{
  position: absolute;
  width: 100%;
  height: 64px;
  background-color: #0009;
  color: white;
  bottom: 0;
  transform: translateY(100%);
  transition: 1s;
}

@media (max-width: 768px){
  body{
      padding-left: 12px;
      padding-right: 12px;
      background-repeat: repeat;
  }
  .galeria{
      display: flex;
      flex-direction: column;
  }
  .foto{
      width: 100%;
      height: 33vh;
  }
}

header, footer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.verMais{
  border-radius: 100px;
  background-color: black;
  align-items: center;
  width: 150px;
  height: 40px;
  font-size: 1.3em;
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
}

.verMais > p{
  color: white;

}

.botao{
  height: 20px;
  width: 20px;
}


